body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.title {
  display: inline;
  font-weight: bold;
}

.author {
  padding: 10px 0px 10px 0;
  color:#BBB;
  font-style: italic;
  display: inline;
  font-size: normal;
}
.subject-content {margin-bottom: 10px;}
.list-group-item-text { color: #FFF;}
.list-group-item { background-color: #EEE;}
.link { cursor: pointer; }
.navbar-inverse .navbar-brand { color: #FA0; }
img {border:0;}