body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding-top: 70px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.title {
  display: inline;
  font-weight: bold;
}

.author {
  padding: 10px 0px 10px 0;
  color:#333;
  display: inline;
  font-size: 0.8em;
}
.date {
  padding: 10px 0px 10px 0;
  color:#555;
  display: inline;
  font-size: 0.8em;
}
.subject-content {margin-bottom: 10px; white-space: pre;}
.list-group-item-text { color: #FFF;}
.list-group-item { background-color: #EEE;}
.link { cursor: pointer; }
.navbar-inverse .navbar-brand { color: #FA0; }
img {border:0;}
.comments { color: #444;}
.badge-i-know{background-color:#393; font-size: 0.7em;}
ul.comments {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.comments li {
  padding: 4px;
  color: #333;
}
ul.comments li .author {
  color: #999;
}
