<form name="add_form" ng-submit="addSubject(title, content)" role="form">

  <div class="form-group">
    <label class="control-label sr-only" for="title">Title</label>
    <input ng-model="title" type="text" class="form-control" id="title" placeholder="Reminder title" required="">
  </div>

  <div class="form-group">
    <label class="control-label sr-only" for="content">Explanations</label>
    <textarea ng-model="content" class="form-control" id="content" placeholder="Explanations"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add reminder</button>
  </div>
</form>

<h2><span class="label label-danger">New</span></h2>
<div class="list-group" ng-repeat="s in subjects | filter:search | filterStateBy:'new'">
  <subject object="s" user="user">
</div>
<h2><span class="label label-warning">What?</span></h2>
<div class="list-group" ng-repeat="s in subjects | filter:search | filterStateBy:'what'">
  <subject object="s" user="user">
</div>
<h2><span class="label label-success">I know</span></h2>
<div class="list-group" ng-repeat="s in subjects | filter:search | filterStateBy:'ok'">
  <subject object="s" user="user">
</div>

<script>
  // Uncomment me :)
/*
  if (window.webkitNotifications.checkPermission() == 0) {
    // you can pass any url as a parameter
    window.webkitNotifications.createNotification('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQDHrGgAJhsykZ-g3km7AWrvcii_-RFycrdb-_dI1rTLfbTK2A9dQ', 'HotReminder', 'Welcome!').show();
  } else {
    window.webkitNotifications.requestPermission();
  }
*/
</script>