<div class="list-group-item" ng-class="{true: 'active', false: ''}[s.show]">
  <h4 class="list-group-item-heading link"  ng-click="s.show = !s.show">
    <span class="glyphicon glyphicon-star"></span>
    <div class="subject">{{s.subject}}</div>
  </h4>
  <div class="list-group-item-text" ng-class="{true: '', false: 'hidden'}[s.show]">
    {{s.content}}
    <div class="author">{{s.author}}</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-success" ng-click="s.states.user_id_1.state='ok'">I know</button>
	  <button type="button" class="btn btn-warning" ng-click="s.states.user_id_1.state='what'">What ?</button>
	</div>
  </div>
</div>

