<div class="list-group"  ng-repeat="s in subjects">
  <div class="list-group-item" ng-class="{true: 'active', false: ''}[s.show]" ng-init="s.show=false">
    <h4 class="list-group-item-heading link"  ng-click="s.show = !s.show">
      <div class="subject">{{s.subject}}</div>
    </h4>
    <div class="list-group-item-text" ng-class="{true: '', false: 'hidden'}[s.show]">
    {{s.content}}
	    <div class="author">{{s.author}}</div>
		<div class="btn-group">
		  <button type="button" class="btn btn-success">OK</button>
		  <button type="button" class="btn btn-warning">What ?</button>
		</div>
    </div>
  </div>


</div>


<div class="panel panel-default">
	<div class="panel-heading">Todo</div>
	<div class="panel-body">
  	<ul>
  	  <li ng-repeat="s in todo">{{s.subject}} -- {{s.author}}</li>
  	</ul>
	</div>
</div>
