<h2><span class="label label-danger">New</span></h2>
<div class="list-group"  ng-repeat="s in subjects | filter:states.user_id_1.state='new'" ng-include="'views/_subject.html'"></div>
<h2><span class="label label-warning">What?</span></h2>
<div class="list-group"  ng-repeat="s in subjects | filter:states.user_id_1.state='what'" ng-include="'views/_subject.html'"></div>
<h2><span class="label label-success">I know</span></h2>
<div class="list-group"  ng-repeat="s in subjects | filter:states.user_id_1.state='ok'" ng-include="'views/_subject.html'"></div>

<div class="panel panel-default">
	<div class="panel-heading">Todo</div>
	<div class="panel-body">
  	<ul>
  	  <li ng-repeat="s in todo">{{s.subject}} -- {{s.author}}</li>
  	</ul>
	</div>
</div>

<script>
  // Uncomment me :)
/*  if (window.webkitNotifications.checkPermission() == 0) {
    // you can pass any url as a parameter
    window.webkitNotifications.createNotification('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQDHrGgAJhsykZ-g3km7AWrvcii_-RFycrdb-_dI1rTLfbTK2A9dQ', 'HotReminder', 'Welcome!').show();
  } else {
    window.webkitNotifications.requestPermission();
  }*/
</script>
